body {
    background-color: #f5f8fd;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #777;

}

p {
    margin: 0;
}

a {
    color: #b02a2f;
}

a:hover {
    color: #ad7072;;
}

.dropdown-item:active {
    background: #b02a2f;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: 0;
}

h1, h2, h3,
h4, h5, h6 {
    color: #333;
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

strong {
    letter-spacing: 1px;
}

code {
    background-color: #ddd;
    border-radius: 3px;
    color: #000;
    font-size: 85%;
    margin: 0;
    padding: 5px 10px;
}

code a {
    color: #333;
}

code a:hover {
    text-decoration: underline;
}

section p {
    line-height: 28px;
}


.twitter-feed {
    line-height: 25px;
    margin-bottom: 10px;
}

.twitter-feed {
    border: 1px solid #ddd;
    box-shadow: 2px 3px 3px #ddd;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
}


footer {
    position: fixed;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    flex: 0;

}

.team-member {
    display: inline-block;
    width: calc(100% / 3);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    word-break: break-word;
    margin: 18px 0px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    transition: all 0.3s ease-in-out;
    text-align: center;
    height: 90%;
}

.icon {
    margin: 0 auto 15px auto;
    background: #d2a26f;
    /* padding-top: 12px; */
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}


.section-header h3 {
    font-size: 36px;
    color: #333333;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 60px;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 19px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}

.btn-outline-dark-red {
    color: #b02a2f;
    border-color: #b02a2f;
}

.text-dark-red {
    color: #b02a2f;
}

