{% load static i18n  %}

{% if gallery %}
    <h3 class="text-center mt-5 font-bold mb-5">
        {% trans 'Photo Gallery' %}
        <hr class="text-dark-red">
    </h3>
    <section id="gallery">
        <div class="wow fadeInUp  row justify-content-center">
            <div class="col-lg-9">
                <div class="owl-carousel text-center gallery">
                    {% for production_image in gallery %}
                        <img height="200" data-src="{{ production_image.image.url }}"
                             class="p-2 owl-lazy card-img-top"
                             alt="{{ object.title }}">
                    {% endfor %}
                </div>

            </div>

        </div>
    </section>
{% endif %}