{% extends 'layout/layout.html' %}
{% load crispy_forms_tags static i18n main %}
{% block og_image %} {% static 'images/logo-medteb.png' %}  {% endblock %}
{% block site_title %} {% trans "Home" %} {% endblock %}
{% block site_og_title %}{% trans "Home" %} {% endblock %}
{% block site_og_description %} {% trans "Home" %} {% endblock %}
{% block site_description %}{% trans "Site Home Description" %}{% endblock %}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}
{% block keywords %}{% trans "Home" %}{% endblock %}


{% block content %}

    <header class="section-header">
        <h3>{% trans 'Donate & Support' %}</h3>
        <hr>

    </header>
    <div class="wow fadeInUp  mb-4 card p-5">

        <div class="row ">
            <div class="col-3">
                <img class="img-fluid" src="{% static 'images/donate.jpg' %}">
            </div>
            <div class="col-8 text-dark h5">
                The Freedom Theatre is a non-profit organization in Jenin refugee camp, one of the most oppressed areas
                of occupied Palestine – but also one of the most resilient. We know first-hand that there is immense
                potential in using the arts as a means of enriching the human spirit and coming together as a community
                to mobilize for change.

                In addition to Jenin, we reach out to over 50 other communities across the West Bank, many of who would
                otherwise not have any access to culture.

                Your contribution helps The Freedom Theatre provide creative activities for Palestinian young people, in
                theatre, photography, film, writing and much more. You enable us to stage professional theatre
                productions and bring Palestinian voices out to the world. Your support is absolutely essential to our
                ability to continue improving the lives of new generations through the arts.

                If just 1000 people around the world donated 20 USD/EUR or more a month to The Freedom Theatre, we would
                cover our entire running costs!

                <br>
                <br>
                <br>
IBAN:                <span class="mt-2">1111 2222 3333 44444</span>

            </div>
        </div>

    </div>
{% endblock %}
