{% extends 'layout/layout.html' %}
{% load crispy_forms_tags static i18n main %}
{% block og_image %} {% static 'images/logo-medteb.png' %}  {% endblock %}
{% block site_title %} {% trans "Home" %} {% endblock %}
{% block site_og_title %}{% trans "Home" %} {% endblock %}
{% block site_og_description %} {% trans "Home" %} {% endblock %}
{% block site_description %}{% trans "Site Home Description" %}{% endblock %}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}
{% block keywords %}{% trans "Home" %}{% endblock %}
{% block reading_time %}{{ object.reading_time|default:2 }}{% endblock %}


{% block content %}
    <!--==========================
      Production Section
    ============================-->
    <div class="container-fluid mt-5">

        <h1 class="text-center fs-1 font-bold mb-5">
            {{ object|get_translation_data:'title' }}
            <hr class="text-dark-red">
        </h1>

        <div data-wow-duration="2s" class="mb-5 wow fadeInUp p-3 card">
            {{ object|get_translation_data:'content'|safe }}

        </div>
    </div>
{% endblock %}
