{% extends 'layout/layout.html' %}
{% load crispy_forms_tags i18n static main %}
{% block og_image %} {% static 'images/logo-medteb.png' %}  {% endblock %}
{% block site_title %} {% trans "Home" %} {% endblock %}
{% block site_og_title %}{% trans "Home" %} {% endblock %}
{% block site_og_description %} {% trans "Home" %} {% endblock %}
{% block site_description %}{% trans "Site Home Description" %}{% endblock %}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}
{% block keywords %}{% trans "Home" %}{% endblock %}
{% block reading_time %}{{ object.reading_time|default:2 }}{% endblock %}


{% block content %}
    <h1 class="text-center fs-1 font-bold mb-5">
        {% trans 'Inad Theater Lastest Productions' %}
        <hr class="text-dark-red">
    </h1>

    <!--==========================
            Featured Productions Section
    ============================-->
    <section id="productions">
        <div class="wow fadeInUp  row justify-content-center">
            <div class="col-lg-9">
                <div class="owl-carousel text-center main-carousel">
                    {% for featured_production in featured_productions %}
                        <div class="card me-3 " style="height: 25rem;">
                            <img height="200" src="{{ featured_production.image.url }}" class="card-img-top"
                                 alt="{{ featured_production|get_translation_data:'title' }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ featured_production|get_translation_data:'title' }}</h5>
                                <p class="card-text">
                                    {{ featured_production|get_translation_data:'synopsis'|truncatechars:50|safe }}
                                </p>
                                <a href="{{ featured_production.get_absolute_url }}"
                                   class="read-more btn btn-outline-dark-red">
                                    Read More
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </section>

{% endblock %}
