{% extends 'layout/layout.html' %}
{% load crispy_forms_tags i18n static main %}
{% block og_image %} {% static 'images/logo-medteb.png' %}  {% endblock %}
{% block site_title %} {% trans "Home" %} {% endblock %}
{% block site_og_title %}{% trans "Home" %} {% endblock %}
{% block site_og_description %} {% trans "Home" %} {% endblock %}
{% block site_description %}{% trans "Site Home Description" %}{% endblock %}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}
{% block keywords %}{% trans "Home" %}{% endblock %}
{% block reading_time %}{{ object.reading_time|default:2 }}{% endblock %}


{% block content %}
    <div class="container-fluid mt-5">
        <h1 class="text-center fs-1 mb-5 ">
            {% trans 'Inad Theater Lastest Productions' %}
            <hr class="text-dark-red">
        </h1>

        <!--==========================
                Featured Productions Section
        ============================-->
        <section id="productions">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="owl-carousel text-center main-carousel">
                        {% for featured_production in featured_productions %}
                            <div class="card me-3 " style="width: 20rem;height: 25rem;">
                                <img src="{{ featured_production.image.url }}" class="card-img-top"
                                     alt="{{ featured_production|get_translation_data:'title' }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ featured_production|get_translation_data:'title' }}</h5>
                                    <p class="card-text">{{ featured_production|get_translation_data:'synopsis'|truncatechars:50 }}</p>
                                    <a href="{{ featured_production.get_absolute_url }}"
                                       class="read-more btn btn-outline-dark-red">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </section>

        {##}
        {#        <!--==========================#}
        {#      Testimonials Section#}
        {#    ============================-->#}
        {#        <section id="testimonials" dir="ltr">#}
        {#            <div class="container">#}
        {#                <div class="row justify-content-center">#}
        {#                    <div class="col-lg-8">#}
        {##}
        {#                        <div class="owl-carousel main-carousel">#}
        {#                            {% for featured_production in featured_productions %}#}
        {#                                <div class="testimonial-item">#}
        {#                                    <img src="{{ featured_production.image.url }}" class="testimonial-img"#}
        {#                                         alt="{{ featured_production|get_translation_data:'title' }}">#}
        {#                                    <h3>{{ featured_production|get_translation_data:'title' }}</h3>#}
        {#                                    <h4>{{ featured_production|get_translation_data:'synopsis' }}</h4>#}
        {#                                    <p>#}
        {#                                        {{ featured_production|get_translation_data:'synopsis' }}#}
        {#                                    </p>#}
        {#                                </div>#}
        {#                            {% endfor %}#}
        {#                        </div>#}
        {##}
        {#                    </div>#}
        {#                </div>#}
        {##}
        {##}
        {#            </div>#}
        {#        </section><!-- #testimonials -->#}

    </div>
{% endblock %}
