{% extends 'layout/layout.html' %}
{% load crispy_forms_tags static i18n main %}
{% block og_image %} {% static 'images/logo-medteb.png' %}  {% endblock %}
{% block site_title %} {% trans "Home" %} {% endblock %}
{% block site_og_title %}{% trans "Home" %} {% endblock %}
{% block site_og_description %} {% trans "Home" %} {% endblock %}
{% block site_description %}{% trans "Site Home Description" %}{% endblock %}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}
{% block keywords %}{% trans "Home" %}{% endblock %}


{% block content %}


    <h1 class="text-center fs-1 font-bold mb-5">
        {% trans 'Networks & Partners' %}
        <hr class="text-dark-red">
    </h1>

    <div class="px-5">
        {% for partner in object_list %}

            <a class="w-100 btn wow fadeInUp my-2 card-header bg-dark-red text-white fs-5 fw-bolder p-4 text-dark"
               data-bs-toggle="collapse" href="#collapse-{{ partner.id }}" role="button"
               aria-expanded="false" aria-controls="{{ partner.id }}">
                {{ partner|get_translation_data:'name' }}
            </a>
            <div class="collapse" id="collapse-{{ partner.id }}">
                <div class="card card-body">
                    <p class="text-dark card-text">{{ partner|get_translation_data:'details' }}</p>

                </div>
            </div>
        {% endfor %}

        {% if object_list %}
            {% pagination %}
        {% endif %}

    </div>
{% endblock %}
