{% extends 'layout/layout.html' %}
{% load crispy_forms_tags static i18n main %}
{% block og_image %} {% static 'images/logo.png' %}  {% endblock %}
{% block site_title %} {{ object.title }} {% endblock %}
{% block site_og_title %}{{ object.title }} {% endblock %}
{% block site_og_description %} {{ object.title }} {% endblock %}
{% block site_description %}{% trans "Site Home Description" %}{% endblock %}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}
{% block keywords %}{{ object.title }}{% endblock %}
{% block reading_time %}{{ object.reading_time|default:2 }}{% endblock %}
{% get_current_language_bidi as LANGUAGE_BIDI %}



{% block content %}
    <!--==========================
      Production Section
    ============================-->

    <h1 class="text-center fs-1 font-bold mb-5">
        {{ object.title }}
        <hr class="text-dark-red">
    </h1>

    <div class="m-3 align-items-center text-center p-3 card">
        <nav style="--bs-breadcrumb-divider: '';"  aria-label="breadcrumb">
            <ol class="justify-content-center breadcrumb">
                <li class="breadcrumb-item bidi-{{ LANGUAGE_BIDI }}">
                    <a href="/">{% trans 'Home' %}</a>
                </li>
                <li class="breadcrumb-item bidi-{{ LANGUAGE_BIDI }}">
                    <a href="{{ object.sub_category.get_absolute_url }}">{{ object.sub_category }}</a>
                </li>
                <li class="breadcrumb-item bidi-{{ LANGUAGE_BIDI }} active" aria-current="page">{{ object.title }}</li>
            </ol>
        </nav>
        <img src="{{ object.image.url }}" width="500" height="500" class="img-thumbnail" alt="...">
        <div class="w-100 card-body">

            {% include 'main/partials/share_social_media.html' with url_name=object.get_absolute_url  description=object.title %}
            <h5 data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Publish Date' %}"
                class=" card-text text-start">
                <i class="fa fa-lg mx-2 fa-calendar"></i> {{ object.created_at|date:'' }}
            </h5>
            <hr>
            <h5 class="p-3 card-text">{{ object.synopsis|safe }}</h5>
        </div>
    </div>
    <!--==========================
            Gallery Section
    ============================-->
    <h3 class="text-center mt-4 font-bold mb-5">
        {% trans 'Gallery' %}
        <hr class="text-dark-red">
    </h3>
    <section id="gallery">
        <div class="wow fadeInUp  row justify-content-center">
            <div class="col-lg-9">
                <div class="owl-carousel text-center gallery">
                    {% for production_image in gallery %}
                        <img height="200" data-src="{{ production_image.image.url }}" class="p-2 owl-lazy card-img-top"
                             alt="{{ object.title }}">
                    {% endfor %}
                </div>

            </div>

        </div>
    </section>

    <!--==========================
            News Section
    ============================-->
    <h3 class="text-center mt-4 font-bold mb-5">
        {% trans 'News' %}
        <hr class="text-dark-red">
    </h3>
    <section id="news">
        <div class="wow fadeInUp  row justify-content-center">
            <div class="col-lg-9">
                <div class="owl-carousel text-center news">
                    {% for production_image in news %}
                        <img height="200" data-src="{{ production_image.image.url }}"
                             class="p-2 owl-lazy card-img-top"
                             alt="{{ object.title }}">
                    {% endfor %}
                </div>

            </div>

        </div>
    </section>

{% endblock %}
