{% extends 'layout/layout.html' %}
{% load crispy_forms_tags i18n static main %}

{% block og_image %} {% static 'images/logo.png' %}  {% endblock %}
{% block site_title %} {{ object.title }} {% endblock %}
{% block site_og_title %}{{ object.title }} {% endblock %}
{% block site_og_description %} {{ object.title }} {% endblock %}
{% block site_description %}{% trans "Site Home Description" %}{% endblock %}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}
{% block keywords %}{{ object.title }}{% endblock %}
{% block reading_time %}{{ object.reading_time|default:2 }}{% endblock %}


{% block content %}

    <!--==========================
      Production Section
    ============================-->
    <div id="productionHeader" class="mt-4 d-flex">
        <img width="70" height="100" class=" mt-2" src="{% static 'images/logo.png' %}">
        <div class="text-dark-red text-center production-header font-bold h3"> {% trans 'Al Makhrour Festival Program' %}</div>

        <div class="mx-2 production-header dropdown">
            <button class="btn btn-outline-dark-red dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-language me-1"></i>
                {{ lang.name_local }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for language in languages %}

                    {% if language.code != CURRENT_LANGUAGE %}
                        <li class="p-2 text-center">
                            <a href="/{{ language.code }}/{{ request.get_full_path|slice:"4:" }}">
                                {{ language.name_local }}

                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr class="text-dark-red">

    <div class="m-3 align-items-center text-center p-3 card">
        {#        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">#}
        {#            <ol class="justify-content-center breadcrumb">#}
        {#                <li class="breadcrumb-item bidi-{{ LANGUAGE_BIDI }}">#}
        {#                                        <a href="/">{% trans 'Home' %}</a>#}
        {#                    <a>{% trans 'Home' %}</a>#}
        {#                </li>#}
        {#                <li class="breadcrumb-item bidi-{{ LANGUAGE_BIDI }}">#}
        {#                                        <a href="{{ object.sub_category.get_absolute_url }}">{{ object.sub_category }}</a>#}
        {#                    <a>{{ object.sub_category }}</a>#}
        {#                </li>#}
        {#                <li class="breadcrumb-item bidi-{{ LANGUAGE_BIDI }} active" aria-current="page">{{ object.title }}</li>#}
        {#            </ol>#}
        {#        </nav>#}
        <img src="{{ object.image.url }}" style="width: 30rem;" class="img-thumbnail" alt="{{ object.title }}">
        <div class="w-100 card-body">
            {#            {% include 'main/partials/share_social_media.html' with url_name=object.get_absolute_url  description=object.title %}#}

            <hr>
            {% if object.synopsis %}
                <h5 class="p-3 card-text">{{ object.synopsis|safe }}</h5>
            {% endif %}
        </div>
    </div>

    <!--==========================
            Event Section
    ============================-->
    {% include 'main/partials/production/_production_event.html' with object_list=production_events %}

    <!--==========================
            Video Section
    ============================-->
    {% include 'main/partials/production/_video_section.html' %}
    <!--==========================
            Gallery Section
    ============================-->
    {% include 'main/partials/production/_gallery_section.html' %}
    <!--==========================
            News Section
    ============================-->
    {% include 'main/partials/production/_news_section.html' %}

    <img class="wow fadeInUp img-fluid card my-4" src="{{ object.partners_image.url }}">
{% endblock %}
