{% extends 'layout/layout.html' %}
{% load crispy_forms_tags static i18n main %}
{% block og_image %} {% static 'images/logo-medteb.png' %}  {% endblock %}
{% block site_title %} {% trans "Home" %} {% endblock %}
{% block site_og_title %}{% trans "Home" %} {% endblock %}
{% block site_og_description %} {% trans "Home" %} {% endblock %}
{% block site_description %}{% trans "Site Home Description" %}{% endblock %}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}
{% block keywords %}{% trans "Home" %}{% endblock %}
{% block reading_time %}{{ object.reading_time|default:2 }}{% endblock %}


{% block content %}
    <h1 class="text-center fs-1 font-bold mb-5">
        {% if object %}
           {{ object|get_translation_data:'name' }}
        {% else %}
            {% trans 'Productions' %}
        {% endif %}
        <hr class="text-dark-red">
    </h1>

    <!--==========================
      Productions Section
    ============================-->


    <div class="row justify-content-center">
        {% for production in object_list %}
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <a href="{{ production.get_absolute_url }}">
                    <div class="box">
                        <div class="my-4">
                            <img width="300" height="300" class="img-thumbnail img-fluid"
                                 src="{{ production.image.url }}"/>
                        </div>
                        <h4 class="title">{{ production|get_translation_data:'title' }}</h4>
                        <div class="box-body">
                            <p class=" description">{{ production|get_translation_data:'synopsis'|truncatechars:100 }}</p>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>

    {% if object_list %}
        {% pagination %}
    {% endif %}

{% endblock %}
