{% extends 'layout/layout.html' %}
{% load crispy_forms_tags static i18n main %}
{% block og_image %} {% static 'images/logo-medteb.png' %}  {% endblock %}
{% block site_title %} {% trans "Home" %} {% endblock %}
{% block site_og_title %}{% trans "Home" %} {% endblock %}
{% block site_og_description %} {% trans "Home" %} {% endblock %}
{% block site_description %}{% trans "Site Home Description" %}{% endblock %}
{% block canonical %}{{ request.build_absolute_uri }}{% endblock %}
{% block keywords %}{% trans "Home" %}{% endblock %}
{% block reading_time %}{{ object.reading_time|default:2 }}{% endblock %}


{% block content %}
    <!--==========================
      Production Section
    ============================-->
    <h4 class="p-3 text-center fw-bolder card-title">{{ object.name }}</h4>

    <div class="m-3 align-items-center text-center p-3 card">
        <img src="{{ object.image.url }}" width="300" height="300" class="img-thumbnail" alt="...">
        <div class="card-body">
            <div class="d-flex justify-content-center flex-wrap flex-row">
                {% for social_media in object.social_media_links.all %}
                    <a class="footer-social-media" href="{{ social_media.url }}"><i
                            class="p-3 fa-lg rounded-circle fa fa-{{ social_media.type }}"></i></a>
                {% endfor %}
            </div>
            <h5 class="p-3 card-text">{{ object.job_title }}</h5>
            <hr>
            <h5 class="p-3 card-text">{{ object.bio }}</h5>
        </div>
    </div>

{% endblock %}
