{% load crispy_forms_tags i18n static main %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:main' %}"><img height="100" src="{% static 'images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item  me-auto ">
                    <a class=" font-bold text-dark-red nav-link" aria-current="page" href="{% url 'main:main' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item  dropdown">
                    <a class="font-bold text-dark-red nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans 'Who we are' %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for headline in headlines %}
                            <li>
                                <a class="p-3 dropdown-item" href="{{ headline.get_absolute_url }}">
                                {{ headline|get_translation_data:'title' }}
                            </a>
                            </li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="p-3 dropdown-item" href="{% url 'main:team' %}">{% trans 'Inad Team' %}</a></li>
                    </ul>
                </li>
                {% for category in categories %}
                    <li class="nav-item  dropdown">
                        <a class="font-bold text-dark-red nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ category }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for sub_category in category.sub_categories.all %}
                                <li>
                                    <a class="p-3 dropdown-item"
                                       href="{{ sub_category.get_absolute_url }}"
                                    >
                                        {{ sub_category }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="font-bold text-dark-red nav-link" aria-current="page"
                       href="{% url 'main:annual_reports' %}">  {% trans 'Annual Reports' %}</a>
                </li>
                <li class="nav-item">
                    <a class="font-bold text-dark-red nav-link" aria-current="page"
                       href="{% url 'main:networks_and_partners' %}">  {% trans 'Networks & Partners' %}</a>
                </li>
                <li class="nav-item">
                    <a class="font-bold text-dark-red nav-link" aria-current="page"
                       href="{% url 'main:donate_and_support' %}">  {% trans 'Donate & Support' %}</a>
                </li>
                <li class="nav-item">
                    <a class="font-bold text-dark-red nav-link" aria-current="page"
                       href="{% url 'main:contact_us' %}">  {% trans 'Contact Us' %}</a>
                </li>
            </ul>
            <form action="{% url 'main:sub_category_details' %}" class="d-flex">
                <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark-red" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>