{% load crispy_forms_tags i18n static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:main' %}"><img height="50" src="{% static 'images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main:main' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans 'Who we are' %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li c><a class="p-3 dropdown-item" href="#">{% trans 'Mission & Vision' %}</a></li>
                        <li><a class="p-3 dropdown-item" href="#">{% trans 'Goals & Objectives' %}</a></li>
                        <li><a class="p-3 dropdown-item" href="#">{% trans 'Goals & Objectives' %}</a></li>
                        <li><a class="p-3 dropdown-item" href="#">{% trans 'Awards' %}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="p-3 dropdown-item" href="{% url 'main:team' %}">{% trans 'Team' %}</a></li>
                    </ul>
                </li>
                {% for category in categories %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ category }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for sub_category in category.sub_categories.all %}
                                <li>
                                    <a class="p-3 dropdown-item"
                                       href="{{ sub_category.get_absolute_url }}"
                                    >
                                        {{ sub_category }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark-red" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>