{% load static %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="ar" style="overflow-x: hidden;">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{% trans "theater" %}|{% block site_description %}{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="author" content="{% block site_author %}theater{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta property="og:locale" content="en_GB">
    <meta property="og:locale:alternate" content="ar_AR"/>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="theater">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image" itemprop="image" content="{% block og_image %}{% endblock %} ">
    <meta property="og:image:alt" itemprop="image" content="theater">
    <link rel='image_src' href='{% static '' %}'/>
    <meta name="version" content="1.0.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>{% trans "theater" %} | {% block site_title %}{% endblock %}</title>
    <meta property="og:title" content="{% trans "theater" %} | {% block site_og_title %}{% endblock %}">
    <meta property="og:description" content="{% trans "theater" %} | {% block site_og_description %}{% endblock %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@theater_MASTER_Official">
    <meta name="twitter:site" content="@theater_MASTER_Official">
    <meta name="twitter:label1" content="theater Team">
    <meta name="twitter:data1" content=" theater Team">
    <meta name="twitter:label2" content=" {% trans "Estimated reading time" %}: {% block reading_time %}{% endblock %}">
    <meta name="twitter:data2" content="2 Minutes">
    <link rel="canonical" href="{% block canonical %}{% endblock %}">
    <meta name="robots" content="noodp,noydir"/>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

    {% compress css %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
        <link href="{% static 'vendor/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href="{% static 'vendor/animate/animate.min.css' %}" rel="stylesheet">

        {% block app_css %}
        {% endblock %}
    {% endcompress %}

</head>
<body>
{% block base_content %}
{% endblock %}

{% compress js %}
    <script defer src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/js/popper.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/font-awesome.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>

{% endcompress %}
{% block app_js %}
{% endblock %}
</body>
</html>
