{% extends "layout/base.html" %}
{% load static %}
{% load i18n %}

{% block base_content %}

    {% if activate_coming_soon %}
        {% include "layout/_coming_soon.html" %}
    {% endif %}
    {% if hide_coming_soon_page %}
        <div>
            {% if not activate_coming_soon %}
                {% include "layout/_header.html" %}
            {% endif %}

            <div class="mb-0 container main-wrapper">
                {% if activate_coming_soon %}
                    <nav class="navbar d-none  navbar-light bg-light">
                        <form action="{% url 'main:sub_category_details' %}" class="d-flex container-fluid">
                            <div class="p-2 me-3 input-group">
                                <button id="buttonSubmit" value="submit" class="input-group-text"><i
                                        class="fa  text-dark-red fa-search"></i></button>
                                <input class="form-control p-2 " name="search" type="search"
                                       placeholder="{% trans 'Search' %}"
                                       aria-label="Search">

                            </div>
                        </form>
                    </nav>
                {% endif %}
                {% include "layout/_messages.html" %}
                <div class="main-content-wrapper container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div id='toTop'><i class="fa fa-2x text-dark-red btn fa-arrow-circle-o-up"></i></div>
            {% if not activate_coming_soon %}
                {% include "layout/_footer.html" %}
            {% endif %}

        </div>
    {% endif %}
{% endblock %}